*
.ss {
    background-color: hsl(30, 38%, 92%);
    height: 50em;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    box-sizing: border-box;
    padding-top: 8em;
}
img {
    width: 16.5em;
    height: 368px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.texts {
    width: 15em;
    height: 370px;
    border-radius: 10px;
    background-color: white;
    padding-left: 25px;
}
button {
    background-color: hsl(140, 40%, 52%);
    border-radius: 10px;
    width: 200px;
    height: 45px;
    margin: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
button:hover {
    background-color:  hsl(140, 38%, 20%);
}
h2, .c {
    display: inline;
    margin: 2px;
    padding: 0;
}
h5 {
    font-weight: lighter;
    letter-spacing: 5px;
}
.c {
    font-weight: lighter;
    font-size: smaller;
}
#mobile {
    display: none;
}
@media only screen and (max-width: 550px) {
   img, .texts {
    border-radius: 0px;
    height: 20em;
   }
   #desktop {
    display: none;
   }
   #mobile{
    display: flex;
   }
   .container {
    padding-top: 4em;
   }
}